body {
  font-family: "Baloo Da 2", cursive;
}

.graph-container {
  justify-content: center;
}

.disable-scrollbars::-webkit-scrollbar {
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.rt_chartContainer {
  background-color: #fff;
  border-radius: 0.5rem;
  /* height: 85rem; */
  /* width: 80rem; */
  position: relative;
}

@media only screen and (max-width: 600px) {
  .graph-container {
    justify-content: start;
  }

  .disable-scrollbars::-webkit-scrollbar {
    display: block;
  }

  .disable-scrollbars {
    scrollbar-width: thin; /* Firefox */
  }
}
